{% extends 'base.html.twig' %}

{% block title %}New Proyects{% endblock %}

{% block body %}
    <h1>Create new Proyects</h1>

    {{ include('proyects/_form.html.twig') }}

    <a href="{{ path('app_proyects_index') }}">back to list</a>
{% endblock %}
